@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark &));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);
    --font-main: var(--font-main);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);

    --tracking-normal: 0em;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

:root {
    --background: oklch(0.9761 0 0);
    --foreground: oklch(0.2002 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.2002 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.2002 0 0);
    --primary: oklch(0.6586 0.2304 34.7152);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.8831 0.0068 115.7205);
    --secondary-foreground: oklch(0.2002 0 0);
    --muted: oklch(0.937 0 0);
    --muted-foreground: oklch(0.4676 0 0);
    --accent: oklch(0.9539 0.0244 43.176);
    --accent-foreground: oklch(0.5589 0.1929 35.1233);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.8831 0.0068 115.7205);
    --input: oklch(0.8831 0.0068 115.7205);
    --ring: oklch(0.6586 0.2304 34.7152);
    --chart-1: oklch(0.6586 0.2304 34.7152);
    --chart-2: oklch(0.7195 0.1799 39.1577);
    --chart-3: oklch(0.5589 0.1929 35.1233);
    --chart-4: oklch(0.8103 0.1115 39.7867);
    --chart-5: oklch(0.4536 0.1542 35.4874);
    --sidebar: oklch(0.2002 0 0);
    --sidebar-foreground: oklch(0.9761 0 0);
    --sidebar-primary: oklch(0.6586 0.2304 34.7152);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.2931 0 0);
    --sidebar-accent-foreground: oklch(0.6586 0.2304 34.7152);
    --sidebar-border: oklch(0.2931 0 0);
    --sidebar-ring: oklch(0.6586 0.2304 34.7152);

    --font-sans: "Geist Sans", sans-serif;
    --font-mono: "Geist Mono", monospace;
    --font-serif: serif;
    --font-main: "Satoshi", sans-serif;

    --radius: 0.75rem;

    --shadow-2xs: 0px 4px 12px -2px hsl(0 0% 0% / 0.04);
    --shadow-xs: 0px 4px 12px -2px hsl(0 0% 0% / 0.04);
    --shadow-sm:
        0px 4px 12px -2px hsl(0 0% 0% / 0.08),
        0px 1px 2px -3px hsl(0 0% 0% / 0.08);
    --shadow:
        0px 4px 12px -2px hsl(0 0% 0% / 0.08),
        0px 1px 2px -3px hsl(0 0% 0% / 0.08);
    --shadow-md:
        0px 4px 12px -2px hsl(0 0% 0% / 0.08),
        0px 2px 4px -3px hsl(0 0% 0% / 0.08);
    --shadow-lg:
        0px 4px 12px -2px hsl(0 0% 0% / 0.08),
        0px 4px 6px -3px hsl(0 0% 0% / 0.08);
    --shadow-xl:
        0px 4px 12px -2px hsl(0 0% 0% / 0.08),
        0px 8px 10px -3px hsl(0 0% 0% / 0.08);
    --shadow-2xl: 0px 4px 12px -2px hsl(0 0% 0% / 0.2);
}

.dark {
    --background: oklch(0.2002 0 0);
    --foreground: oklch(0.8831 0.0068 115.7205);
    --card: oklch(0.2478 0 0);
    --card-foreground: oklch(0.8831 0.0068 115.7205);
    --popover: oklch(0.2478 0 0);
    --popover-foreground: oklch(0.8831 0.0068 115.7205);
    --primary: oklch(0.6586 0.2304 34.7152);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.3211 0 0);
    --secondary-foreground: oklch(0.8831 0.0068 115.7205);
    --muted: oklch(0.2809 0 0);
    --muted-foreground: oklch(0.6268 0 0);
    --accent: oklch(0.327 0.0568 40.9632);
    --accent-foreground: oklch(0.7195 0.1799 39.1577);
    --destructive: oklch(0.3958 0.1331 25.723);
    --destructive-foreground: oklch(0.9821 0 0);
    --border: oklch(0.3211 0 0);
    --input: oklch(0.3211 0 0);
    --ring: oklch(0.6586 0.2304 34.7152);
    --chart-1: oklch(0.6586 0.2304 34.7152);
    --chart-2: oklch(0.7195 0.1799 39.1577);
    --chart-3: oklch(0.5589 0.1929 35.1233);
    --chart-4: oklch(0.8103 0.1115 39.7867);
    --chart-5: oklch(0.4536 0.1542 35.4874);
    --sidebar: oklch(0.1684 0 0);
    --sidebar-foreground: oklch(0.8831 0.0068 115.7205);
    --sidebar-primary: oklch(0.6586 0.2304 34.7152);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.2478 0 0);
    --sidebar-accent-foreground: oklch(0.6586 0.2304 34.7152);
    --sidebar-border: oklch(0.2478 0 0);
    --sidebar-ring: oklch(0.6586 0.2304 34.7152);

    --font-sans: "Geist Sans", sans-serif;
    --font-mono: "Geist Mono", monospace;
    --font-serif: serif;
    --font-main: "Satoshi", sans-serif;

    --radius: 0.75rem;

    --shadow-2xs: 0px 5px 15px 0px hsl(0 0% 0% / 0.2);
    --shadow-xs: 0px 5px 15px 0px hsl(0 0% 0% / 0.2);
    --shadow-sm:
        0px 5px 15px 0px hsl(0 0% 0% / 0.4), 0px 1px 2px -1px hsl(0 0% 0% / 0.4);
    --shadow:
        0px 5px 15px 0px hsl(0 0% 0% / 0.4), 0px 1px 2px -1px hsl(0 0% 0% / 0.4);
    --shadow-md:
        0px 5px 15px 0px hsl(0 0% 0% / 0.4), 0px 2px 4px -1px hsl(0 0% 0% / 0.4);
    --shadow-lg:
        0px 5px 15px 0px hsl(0 0% 0% / 0.4), 0px 4px 6px -1px hsl(0 0% 0% / 0.4);
    --shadow-xl:
        0px 5px 15px 0px hsl(0 0% 0% / 0.4),
        0px 8px 10px -1px hsl(0 0% 0% / 0.4);
    --shadow-2xl: 0px 5px 15px 0px hsl(0 0% 0% / 1);
}

@layer base {
    body {
        letter-spacing: var(--tracking-normal);
        @apply bg-background text-foreground text-[17px];
        font-family: var(--font-sans);
    }

    .highlight {
        @apply text-orange-500;
    }
}
